{{> header }}
<div class="container-fluid">
  <div class="row">
    {{> leftmenu }}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="container">
        <br>
        <form action="/personas/delete/{{person.PEINDO}}" method="POST">
          <button type="submit" class="btn btn-danger" style="float: right;"
          onclick="return confirm('Desea eliminar esta persona?')">Eliminar</button>
        </form>
        <h3>{{title}}</h3>
        <br>
        <form action="/personas/{{person.PEINDO}}" method="POST" class="mb-4">
          <div class="form-group">
            <label for="PEINDO">DNI {{person.dni}}</label>
            <input type="number" name="PEINDO" class="form-control" value="{{person.PEINDO}}" disabled>
          </div>
          <div class="form-group">
            <label for="PENYAP">Nombre</label>
            <input type="text" name="PENYAP" class="form-control" value={{person.PENYAP}}>
          </div>
          <div class="form-group">
            <label for="PEMAIL">Email</label>
            <input type="email" name="PEMAIL" class="form-control" value={{person.PEMAIL}}>
          </div>
          <div class="form-group">
            <label for="PEFNAC">Fecha Nacimiento</label>
            <input type="number" name="PEFNAC" class="form-control" value={{person.PEFNAC}}>
          </div>
          <br>
          <button type="submit" class="btn btn-primary">Actualizar</button>
        </form>
      </div>
    </main>
  </div>
</div> 